<div class="good-card mobile-md:max-w-[350px]">
  <div class="flex justify-between pb-3 sm:block sm:text-center">
    <h1 class="text-xl font-bold fsm:mb-2">Title of Good</h1>
    <h1 class="text-xl">Category</h1>
  </div>
  <img alt="good-image"
       class="good-img hover:scale-100"
       src="/assets/good-images/ABC_Blocks.jpg">
  <div class="flex justify-between pt-3 fsm:block fsm:text-center">
    <h1 class="text-xl font-bold pt-1.5 fsm:mb-2">€ Price</h1>
    <button class="btn-light pb-1">Add to Cart</button>
  </div>
</div>
