<div class="mt-24 2xl:mx-14 xsm:mx-7">
  <button>
    <img alt="back"
         class="navbar-outline"
         src="/assets/icons/back_arrow.svg">
  </button>
  <div class="text-center">
    <h1 class="text-2xl">Good Name</h1>
    <h1 class="text-xl">Good Category</h1>
  </div>
  <div class="flex mt-14">
    <div class="w-fit text-center">
      <img
        alt="good-image"
        class="good-img"
        src="/assets/good-images/ABC_Blocks.jpg">
      <h1 class="mt-7 text-2xl text-darkest font-semibold">€ Price</h1>
      <button class="btn-light-full pb-1.5 mt-7">Add to Cart</button>
    </div>
    <div class="ml-10 relative">
      <strong>Good Description</strong>
      <p class="mt-7 line-clamp-5 max-w-[900px]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad architecto asperiores, cum delectus eos error et eum harum id iusto labore minima nostrum officiis perferendis quidem quisquam quo repellat repellendus repudiandae sequi ullam voluptate? A architecto asperiores aut blanditiis cum distinctio dolorem ducimus ea, fugiat ipsam ipsum libero magnam modi molestias placeat porro provident sequi tempora veniam veritatis. Cum maxime neque quibusdam veniam! Aut consequuntur debitis doloremque error facere fuga, impedit, labore magnam necessitatibus, officiis perspiciatis repudiandae ullam! Amet consectetur doloremque ducimus itaque magni maiores nesciunt nisi nulla perspiciatis placeat quas quia quo quos reprehenderit rerum sunt tenetur, vero.
      </p>
      <div class="mt-14">
        <h1 class="text-2xl">Reviews</h1>
        <div class="flex absolute bottom-0 left-0 right-0">
          <app-review-card></app-review-card>
          <app-review-card></app-review-card>
          <app-review-card></app-review-card>
        </div>
      </div>
    </div>
  </div>
</div>
