<div class="mt-24">
  <div class="relative">
    <img alt="bg-picture"
         class="z-1 fixed top-56 mobile-md:top-32 right-0 left-0 px-14 sm:px-7"
         src="/assets/boy_main_page.png">
    <img alt="child-text"
         class="z-2 fixed top-30 mobile-md:top-60 right-0 left-0 px-14 sm:px-7 bg-opacity-10 animate-pulse"
         src="/assets/child_text.svg">
    <img alt="happiness-text"
         class="z-2 fixed bottom-36 mobile-md:bottom-52 fsm:bottom-28 right-0 left-0 px-14 sm:px-7 animate-pulse"
         src="/assets/happiness_text.svg">
  </div>
</div>
