<div class="mt-5 ml-2.5 mb-1.5 mr-3 review-card z-40">
  <h1 class="font-semibold text-xl pt-2 whitespace-nowrap text-ellipsis overflow-hidden px-6">Name and Surname</h1>
  <div class="mt-2 px-3">
    <p class="line-clamp-3 pl-1.5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet exercitationem iure labore molestiae quisquam soluta veniam! Est minima nihil sunt.</p>
  </div>
  <div class="flex justify-between p-4">
    <img alt="star"
         src="/assets/icons/star_solid.svg">
    <img alt="star"
         src="/assets/icons/star_solid.svg">
    <img alt="star"
         src="/assets/icons/star_solid.svg">
    <img alt="star"
         src="/assets/icons/star_solid.svg">
    <img alt="star"
         src="/assets/icons/start_stroke.svg">
  </div>
</div>
