<div class="flex justify-end 2xl:mx-14 md:justify-center">
  <ul class="absolute flex bottom-[72px] lg:bottom-[52px] z-40">
    <li>
      <a href="https://www.twitter.com/ecotoyofficial"
         rel="noreferrer"
         target="_blank">
        <img alt="twitter-icon"
             class="img-outline"
             src="/assets/icons/twitter_icon_gr.svg">
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UC7UTOFLq6exMVzrekO0-Z5A"
         rel="noreferrer"
         target="_blank">
        <img
          alt="youtube-icon"
          class="ml-5 img-outline"
          src="/assets/icons/youtube_icon_gr.svg">
      </a>
    </li>
    <li class="hover:scale-110 hover:duration-500">
      <a href="https://www.facebook.com/ecotoyofficial"
         rel="noreferrer"
         target="_blank">
        <img
          alt="fb-icon"
          class="ml-5 img-outline"
          src="/assets/icons/fb_icon_gr.svg">
      </a>
    </li>
    <li class="hover:scale-110 hover:duration-500">
      <a href="https://www.instagram.com/ecotoyofficial"
         rel="noreferrer"
         target="_blank">
        <img
          alt="instagram-icon"
          class="ml-5 img-outline"
          src="/assets/icons/instagram_icon_gr.svg">
      </a>
    </li>
  </ul>
</div>
