<div>
  <div class="flex justify-between">
    <button class="navbar-outline mt-2.5 z-50"
    >
      <img alt="back"
           src="/assets/icons/back_arrow.svg">
    </button>
    <app-search></app-search>
    <app-select></app-select>
  </div>
  <div class="grid grid-cols-4 gap-7 pt-5 px-5">
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
    <app-good-card></app-good-card>
  </div>
</div>

<router-outlet></router-outlet>
